USE [FishFarmDB]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculateUsedArea]    Script Date: 04/03/2026 7:11:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[CalculateUsedArea] (@FarmId INT)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @UsedArea DECIMAL(10,2);
    
    SELECT @UsedArea = ISNULL(SUM(CAST(Size AS DECIMAL(10,2))), 0) 
    FROM Ponds 
    WHERE FarmId = @FarmId;
    
    RETURN @UsedArea;
END
GO
/****** Object:  Table [dbo].[Expense_log]    Script Date: 04/03/2026 7:11:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expense_log](
	[ExpenseId] [int] IDENTITY(1,1) NOT NULL,
	[PondId] [bigint] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ExpenseDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Farm]    Script Date: 04/03/2026 7:11:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farm](
	[FarmId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TotalAreaAcres] [decimal](10, 2) NULL,
	[SetupDate] [datetime] NULL,
	[RemainingArea]  AS ([TotalAreaAcres]-[dbo].[CalculateUsedArea]([FarmId])),
	[RegionId] [int] NULL,
	[Latitude] [decimal](10, 8) NULL,
	[Longitude] [decimal](11, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[FarmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feed_Logs]    Script Date: 04/03/2026 7:11:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feed_Logs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[PondId] [bigint] NOT NULL,
	[SpeciesID] [int] NOT NULL,
	[FeedTypeUsed] [nvarchar](100) NULL,
	[Quantity_kg] [float] NOT NULL,
	[TotalCost] [decimal](10, 2) NULL,
	[FeedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feed_Rules]    Script Date: 04/03/2026 7:11:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feed_Rules](
	[RuleId] [int] IDENTITY(1,1) NOT NULL,
	[SpeciesID] [int] NULL,
	[Stage] [nvarchar](20) NULL,
	[MinSize_inch] [float] NULL,
	[MaxSize_inch] [float] NULL,
	[DailyRate_Percent] [float] NULL,
	[ConditionFactor_K] [float] NULL,
	[FeedType] [nvarchar](100) NULL,
	[Frequency] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feed_Stock]    Script Date: 04/03/2026 7:11:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feed_Stock](
	[StockId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FeedType] [nvarchar](100) NOT NULL,
	[InitialQuantity_kg] [float] NOT NULL,
	[CurrentQuantity_kg] [float] NOT NULL,
	[CostPerKg] [decimal](10, 2) NOT NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
	[PurchaseDate] [datetime] NOT NULL,
	[Supplier] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fertilizer_recommendations]    Script Date: 04/03/2026 7:11:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fertilizer_recommendations](
	[RecId] [int] IDENTITY(1,1) NOT NULL,
	[CultivationType] [nvarchar](50) NULL,
	[PondType] [nvarchar](50) NULL,
	[Org_Product] [nvarchar](100) NULL,
	[Org_Dosage_kg_Acre] [float] NULL,
	[Org_Rate_PKR] [float] NULL,
	[Org_Frequency] [nvarchar](100) NULL,
	[Org_Benefits] [nvarchar](max) NULL,
	[Inorg_Product] [nvarchar](100) NULL,
	[Inorg_Dosage_kg_Acre] [float] NULL,
	[Inorg_Rate_PKR] [float] NULL,
	[Inorg_Frequency] [nvarchar](100) NULL,
	[Inorg_Benefits] [nvarchar](max) NULL,
	[Lime_Product] [nvarchar](100) NULL,
	[Lime_Dosage_kg_Acre] [float] NULL,
	[Lime_Rate_PKR] [float] NULL,
	[Lime_Frequency] [nvarchar](100) NULL,
	[Lime_Benefits] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fertilizer_Stock]    Script Date: 04/03/2026 7:11:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fertilizer_Stock](
	[StockId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[InitialQuantity_kg] [float] NOT NULL,
	[CurrentQuantity_kg] [float] NOT NULL,
	[CostPerKg] [decimal](10, 2) NOT NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
	[PurchaseDate] [datetime] NOT NULL,
	[Supplier] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fertilizers_Logs]    Script Date: 04/03/2026 7:11:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fertilizers_Logs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[PondId] [bigint] NULL,
	[FertilizerType] [nvarchar](50) NULL,
	[ProductName] [nvarchar](100) NULL,
	[QuantityApplied] [float] NULL,
	[TotalCost] [decimal](10, 2) NULL,
	[ApplicationDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Harvest_Logs]    Script Date: 04/03/2026 7:11:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Harvest_Logs](
	[HarvestId] [int] IDENTITY(1,1) NOT NULL,
	[PondId] [int] NOT NULL,
	[SpeciesId] [int] NOT NULL,
	[Quantity_pieces] [int] NOT NULL,
	[TotalWeight_kg] [float] NOT NULL,
	[Remaining_Pieces] [int] NOT NULL,
	[HarvestDate] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[HarvestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KnowledgeGuides]    Script Date: 04/03/2026 7:11:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KnowledgeGuides](
	[GuideId] [int] IDENTITY(1,1) NOT NULL,
	[TabCategory] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GuideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KnowledgeSections]    Script Date: 04/03/2026 7:11:55 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KnowledgeSections](
	[SectionId] [int] IDENTITY(1,1) NOT NULL,
	[GuideId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[ContentText] [nvarchar](max) NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marketplace_Listings]    Script Date: 04/03/2026 7:11:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marketplace_Listings](
	[ListingId] [int] IDENTITY(1,1) NOT NULL,
	[FarmId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[StockId] [int] NULL,
	[SpeciesName] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[QuantityAvailable] [int] NOT NULL,
	[PricePerKgOrPiece] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mortality_Logs]    Script Date: 04/03/2026 7:11:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mortality_Logs](
	[MortalityId] [int] IDENTITY(1,1) NOT NULL,
	[PondId] [bigint] NOT NULL,
	[SpeciesId] [int] NOT NULL,
	[Quantity_dead] [int] NOT NULL,
	[LogDate] [datetime] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MortalityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pond_Inventory]    Script Date: 04/03/2026 7:11:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pond_Inventory](
	[InventoryId] [int] IDENTITY(1,1) NOT NULL,
	[PondId] [bigint] NOT NULL,
	[SpeciesId] [int] NOT NULL,
	[BatchNumber] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
	[WeightPerFish_g] [decimal](10, 2) NULL,
	[CostPerUnit_PKR] [decimal](10, 2) NULL,
	[Supplier] [nvarchar](100) NULL,
	[TotalCost]  AS ([Quantity]*[CostPerUnit_PKR]),
	[StockingDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ponds]    Script Date: 04/03/2026 7:11:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ponds](
	[PondId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RegionId] [int] NOT NULL,
	[PondName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CultureType] [varchar](50) NULL,
	[PondType] [varchar](50) NULL,
	[Size] [float] NULL,
	[Stage] [varchar](100) NULL,
	[FarmId] [int] NULL,
	[CultivationType] [nvarchar](50) NULL,
	[LengthFeet] [int] NULL,
	[WidthFeet] [int] NULL,
	[DepthFeet] [decimal](4, 2) NULL,
	[VolumeLiters] [bigint] NULL,
 CONSTRAINT [PK_Ponds] PRIMARY KEY CLUSTERED 
(
	[PondId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 04/03/2026 7:11:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[RegionId] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [varchar](100) NOT NULL,
	[Province] [varchar](100) NOT NULL,
	[ClimateType] [varchar](100) NULL,
	[ClimateConditions] [nvarchar](max) NULL,
	[WaterAvailability] [nvarchar](max) NULL,
	[PeakFarmingSeason] [nvarchar](max) NULL,
	[RecommendedPondSize] [nvarchar](255) NULL,
	[CommonChallenges] [nvarchar](max) NULL,
	[ExpertTips] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Species]    Script Date: 04/03/2026 7:11:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Species](
	[SpeciesId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[MaxStockingDensity] [int] NULL,
	[IsApproved] [bit] NULL,
	[CompatibleRegions] [nvarchar](max) NULL,
	[MinTemp] [decimal](4, 1) NULL,
	[MaxTemp] [decimal](4, 1) NULL,
	[MinPH] [decimal](3, 1) NULL,
	[MaxPH] [decimal](3, 1) NULL,
	[MinDO] [decimal](3, 1) NULL,
	[FingerlingSizeG] [int] NULL,
	[MarketSizeKG] [decimal](3, 1) NULL,
	[HarvestTimeMonths] [int] NULL,
	[FeedingZone] [nvarchar](50) NULL,
	[SurvivalRateLower] [decimal](5, 2) NULL,
	[SurvivalRateUpper] [decimal](5, 2) NULL,
	[MinMarketPrice] [decimal](10, 2) NULL,
	[MaxMarketPrice] [decimal](10, 2) NULL,
	[Description] [nvarchar](max) NULL,
	[SubmittedBy] [int] NULL,
	[IdealDepth] [decimal](4, 2) NULL,
	[WaterVolumeRequirement] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SpeciesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpeciesCompatibility]    Script Date: 04/03/2026 7:11:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpeciesCompatibility](
	[CompatibilityId] [int] IDENTITY(1,1) NOT NULL,
	[SpeciesId] [int] NOT NULL,
	[CompatibleWithId] [int] NOT NULL,
	[CompatibilityReason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CompatibilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocking]    Script Date: 04/03/2026 7:11:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocking](
	[StockId] [int] IDENTITY(1,1) NOT NULL,
	[SpeciesId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PricePerPiece] [decimal](10, 2) NOT NULL,
	[CurrentSizeInches] [decimal](4, 2) NOT NULL,
	[TargetSizeInches] [decimal](4, 2) NOT NULL,
	[StockingDate] [datetime] NULL,
	[TotalInvestment]  AS ([Quantity]*[PricePerPiece]),
	[Status] [nvarchar](20) NULL,
	[OriginalPondId] [bigint] NULL,
	[CurrentPondId] [bigint] NULL,
	[UserId] [int] NOT NULL,
	[LastSizeUpdateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockingRules]    Script Date: 04/03/2026 7:11:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockingRules](
	[RuleId] [int] IDENTITY(1,1) NOT NULL,
	[Stage] [nvarchar](50) NULL,
	[CultivationType] [nvarchar](50) NULL,
	[MinFishPerAcre] [int] NULL,
	[MaxFishPerAcre] [int] NULL,
	[MaxSpeciesAllowed] [int] NULL,
	[CultureType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/03/2026 7:11:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FarmName] [nvarchar](100) NULL,
	[Province] [nvarchar](50) NULL,
	[District] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[Role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[water_quality_logs]    Script Date: 04/03/2026 7:11:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[water_quality_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[PondId] [bigint] NOT NULL,
	[recorded_at] [datetime] NULL,
	[current_temp] [decimal](5, 2) NULL,
	[current_ph] [decimal](4, 2) NULL,
	[current_do] [decimal](5, 2) NULL,
	[current_ammonia] [decimal](5, 2) NULL,
	[current_nitrate] [decimal](5, 2) NULL,
	[current_nitrite] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[water_quality_parameters]    Script Date: 04/03/2026 7:11:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[water_quality_parameters](
	[water_param_id] [int] IDENTITY(1,1) NOT NULL,
	[RegionId] [int] NOT NULL,
	[SpeciesId] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[min_temp_celsius] [decimal](5, 2) NULL,
	[max_temp_celsius] [decimal](5, 2) NULL,
	[min_ph] [decimal](4, 2) NULL,
	[max_ph] [decimal](4, 2) NULL,
	[min_dissolved_oxygen_ppm] [decimal](5, 2) NULL,
	[max_dissolved_oxygen_ppm] [decimal](5, 2) NULL,
	[min_ammonia_ppm] [decimal](5, 2) NULL,
	[max_ammonia_ppm] [decimal](5, 2) NULL,
	[min_nitrate_ppm] [decimal](5, 2) NULL,
	[max_nitrate_ppm] [decimal](5, 2) NULL,
	[min_nitrite_ppm] [decimal](5, 2) NULL,
	[max_nitrite_ppm] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[water_param_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Expense_log] ON 

INSERT [dbo].[Expense_log] ([ExpenseId], [PondId], [Category], [Amount], [Description], [ExpenseDate]) VALUES (5, 14, N'Electricity', CAST(2800.00 AS Decimal(18, 2)), N'Updated bill for water pump', CAST(N'2026-01-28T00:09:13.063' AS DateTime))
INSERT [dbo].[Expense_log] ([ExpenseId], [PondId], [Category], [Amount], [Description], [ExpenseDate]) VALUES (6, 14, N'Electricity', CAST(2500.00 AS Decimal(18, 2)), N'Water pump operation cost', CAST(N'2026-01-28T00:09:13.063' AS DateTime))
INSERT [dbo].[Expense_log] ([ExpenseId], [PondId], [Category], [Amount], [Description], [ExpenseDate]) VALUES (7, 14, N'Medicine', CAST(1200.00 AS Decimal(18, 2)), N'Anti-fungal treatment for water', CAST(N'2026-01-23T00:09:13.063' AS DateTime))
SET IDENTITY_INSERT [dbo].[Expense_log] OFF
GO
SET IDENTITY_INSERT [dbo].[Farm] ON 

INSERT [dbo].[Farm] ([FarmId], [UserId], [TotalAreaAcres], [SetupDate], [RegionId], [Latitude], [Longitude]) VALUES (1, 1, CAST(15.00 AS Decimal(10, 2)), CAST(N'2026-01-29T12:23:54.773' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Farm] ([FarmId], [UserId], [TotalAreaAcres], [SetupDate], [RegionId], [Latitude], [Longitude]) VALUES (2, 2, CAST(6.00 AS Decimal(10, 2)), CAST(N'2026-01-29T23:24:34.540' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Farm] ([FarmId], [UserId], [TotalAreaAcres], [SetupDate], [RegionId], [Latitude], [Longitude]) VALUES (7, 3, CAST(10.50 AS Decimal(10, 2)), CAST(N'2026-01-30T17:21:58.007' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Farm] OFF
GO
SET IDENTITY_INSERT [dbo].[Feed_Logs] ON 

INSERT [dbo].[Feed_Logs] ([LogId], [PondId], [SpeciesID], [FeedTypeUsed], [Quantity_kg], [TotalCost], [FeedDate]) VALUES (1, 14, 1, N'Floating Pellets (25% Protein)', 6, CAST(900.00 AS Decimal(10, 2)), CAST(N'2026-01-28T00:00:19.097' AS DateTime))
INSERT [dbo].[Feed_Logs] ([LogId], [PondId], [SpeciesID], [FeedTypeUsed], [Quantity_kg], [TotalCost], [FeedDate]) VALUES (2, 14, 2, N'Floating Pellets 2mm', 5.5, CAST(850.00 AS Decimal(10, 2)), CAST(N'2026-02-07T18:26:37.670' AS DateTime))
INSERT [dbo].[Feed_Logs] ([LogId], [PondId], [SpeciesID], [FeedTypeUsed], [Quantity_kg], [TotalCost], [FeedDate]) VALUES (3, 51, 7, N'Floating Pellets (3mm)', 12.5, CAST(2500.00 AS Decimal(10, 2)), CAST(N'2026-02-08T18:48:22.810' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feed_Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Feed_Rules] ON 

INSERT [dbo].[Feed_Rules] ([RuleId], [SpeciesID], [Stage], [MinSize_inch], [MaxSize_inch], [DailyRate_Percent], [ConditionFactor_K], [FeedType], [Frequency]) VALUES (1, 1, N'Fingerling', 1, 6, 4, 0.01, N'Fine Pellets (30% Protein)', N'3 times daily')
INSERT [dbo].[Feed_Rules] ([RuleId], [SpeciesID], [Stage], [MinSize_inch], [MaxSize_inch], [DailyRate_Percent], [ConditionFactor_K], [FeedType], [Frequency]) VALUES (2, 1, N'Grow-out', 6.1, 99, 2, 0.01, N'Floating Pellets (25% Protein)', N'2 times daily')
INSERT [dbo].[Feed_Rules] ([RuleId], [SpeciesID], [Stage], [MinSize_inch], [MaxSize_inch], [DailyRate_Percent], [ConditionFactor_K], [FeedType], [Frequency]) VALUES (3, 2, N'Fingerling', 1, 6, 5, 0.012, N'High Protein Starter', N'3-4 times daily')
SET IDENTITY_INSERT [dbo].[Feed_Rules] OFF
GO
SET IDENTITY_INSERT [dbo].[Feed_Stock] ON 

INSERT [dbo].[Feed_Stock] ([StockId], [UserId], [FeedType], [InitialQuantity_kg], [CurrentQuantity_kg], [CostPerKg], [TotalCost], [PurchaseDate], [Supplier]) VALUES (1, 32, N'Fine Pellets (30% Protein)', 300, 299.997, CAST(90.00 AS Decimal(10, 2)), CAST(27000.00 AS Decimal(18, 2)), CAST(N'2026-02-28T00:00:00.000' AS DateTime), N'ABC')
SET IDENTITY_INSERT [dbo].[Feed_Stock] OFF
GO
SET IDENTITY_INSERT [dbo].[fertilizer_recommendations] ON 

SET IDENTITY_INSERT [dbo].[fertilizer_recommendations] OFF
GO
SET IDENTITY_INSERT [dbo].[Fertilizers_Logs] ON 

INSERT [dbo].[Fertilizers_Logs] ([LogId], [PondId], [FertilizerType], [ProductName], [QuantityApplied], [TotalCost], [ApplicationDate], [Remarks]) VALUES (1, 14, N'Inorganic', N'Urea', 12.5, CAST(1500.00 AS Decimal(10, 2)), CAST(N'2026-02-07T18:29:18.980' AS DateTime), N'Standard monthly application for bloom maintenance.')
INSERT [dbo].[Fertilizers_Logs] ([LogId], [PondId], [FertilizerType], [ProductName], [QuantityApplied], [TotalCost], [ApplicationDate], [Remarks]) VALUES (2, 14, N'organic', N'Dap', 12.5, CAST(1500.00 AS Decimal(10, 2)), CAST(N'2026-02-07T18:29:44.403' AS DateTime), N'Standard monthly application for bloom maintenance.')
INSERT [dbo].[Fertilizers_Logs] ([LogId], [PondId], [FertilizerType], [ProductName], [QuantityApplied], [TotalCost], [ApplicationDate], [Remarks]) VALUES (3, 52, N'Inorganic', N'Urea', 12.5, CAST(1500.00 AS Decimal(10, 2)), CAST(N'2026-02-08T18:43:31.423' AS DateTime), N'Standard monthly application for bloom maintenance.')
SET IDENTITY_INSERT [dbo].[Fertilizers_Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Harvest_Logs] ON 

INSERT [dbo].[Harvest_Logs] ([HarvestId], [PondId], [SpeciesId], [Quantity_pieces], [TotalWeight_kg], [Remaining_Pieces], [HarvestDate], [Note]) VALUES (6, 14, 2, 50, 45.5, 250, CAST(N'2026-01-28T00:43:04.590' AS DateTime), N'Testing fixed remaining_pieces column')
INSERT [dbo].[Harvest_Logs] ([HarvestId], [PondId], [SpeciesId], [Quantity_pieces], [TotalWeight_kg], [Remaining_Pieces], [HarvestDate], [Note]) VALUES (7, 51, 2, 200, 150.5, 149800, CAST(N'2026-02-08T19:06:53.203' AS DateTime), N'First partial harvest')
INSERT [dbo].[Harvest_Logs] ([HarvestId], [PondId], [SpeciesId], [Quantity_pieces], [TotalWeight_kg], [Remaining_Pieces], [HarvestDate], [Note]) VALUES (8, 51, 7, 20, 15.5, 375, CAST(N'2026-02-08T22:22:15.227' AS DateTime), N'First partial harvest')
SET IDENTITY_INSERT [dbo].[Harvest_Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[KnowledgeGuides] ON 

INSERT [dbo].[KnowledgeGuides] ([GuideId], [TabCategory], [Title], [DisplayOrder]) VALUES (2, N'complete-guides', N'Fingerling Management Guide', 0)
INSERT [dbo].[KnowledgeGuides] ([GuideId], [TabCategory], [Title], [DisplayOrder]) VALUES (4, N'complete-guides', N'Starting Your Fish Farm - Complete Guide', 0)
SET IDENTITY_INSERT [dbo].[KnowledgeGuides] OFF
GO
SET IDENTITY_INSERT [dbo].[KnowledgeSections] ON 

INSERT [dbo].[KnowledgeSections] ([SectionId], [GuideId], [Title], [ContentText], [DisplayOrder]) VALUES (1, 2, N'What are Fingerlings?', N'Fingerlings are young fish, usually 2-4 inches long, ready for pond stocking. They are called fingerlings because they are about the size of a human finger. Quality fingerlings are essential for successful fish farming - they determine your harvest quality and survival rate.', 0)
INSERT [dbo].[KnowledgeSections] ([SectionId], [GuideId], [Title], [ContentText], [DisplayOrder]) VALUES (2, 2, N'Selecting Quality Fingerlings', N'
Good fingerlings are: Active and swimming vigorously, uniform in size (same batch), free from injury or deformities, bright in color (species-specific), responsive when disturbed. Avoid fingerlings that are: Sluggish or floating, having white spots or wounds, different sizes in same batch, from overcrowded tanks.', 0)
INSERT [dbo].[KnowledgeSections] ([SectionId], [GuideId], [Title], [ContentText], [DisplayOrder]) VALUES (3, 2, N'Where to Buy Fingerlings?', N'Government hatcheries: Most reliable, certified quality. Cost: PKR 4-8 per piece depending on species. Private hatcheries: Available year-round, check reputation first. Cost: PKR 5-12 per piece. Local fish farmers: Sometimes sell surplus, inspect quality carefully. Best months to buy: March-April (spring season) and July-August (monsoon season).', 0)
SET IDENTITY_INSERT [dbo].[KnowledgeSections] OFF
GO
SET IDENTITY_INSERT [dbo].[Mortality_Logs] ON 

INSERT [dbo].[Mortality_Logs] ([MortalityId], [PondId], [SpeciesId], [Quantity_dead], [LogDate], [UserId]) VALUES (1, 51, 7, 25, CAST(N'2026-02-08T21:52:26.593' AS DateTime), 19)
INSERT [dbo].[Mortality_Logs] ([MortalityId], [PondId], [SpeciesId], [Quantity_dead], [LogDate], [UserId]) VALUES (2, 51, 7, 5, CAST(N'2026-02-08T22:02:49.410' AS DateTime), 19)
INSERT [dbo].[Mortality_Logs] ([MortalityId], [PondId], [SpeciesId], [Quantity_dead], [LogDate], [UserId]) VALUES (3, 51, 1, 5, CAST(N'2026-02-08T22:02:58.940' AS DateTime), 19)
SET IDENTITY_INSERT [dbo].[Mortality_Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Pond_Inventory] ON 

INSERT [dbo].[Pond_Inventory] ([InventoryId], [PondId], [SpeciesId], [BatchNumber], [Quantity], [WeightPerFish_g], [CostPerUnit_PKR], [Supplier], [StockingDate]) VALUES (1, 38, 2, N'Batch: 1', 1222, CAST(3.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), N'ABC', CAST(N'2026-01-29T10:00:00.000' AS DateTime))
INSERT [dbo].[Pond_Inventory] ([InventoryId], [PondId], [SpeciesId], [BatchNumber], [Quantity], [WeightPerFish_g], [CostPerUnit_PKR], [Supplier], [StockingDate]) VALUES (2, 38, 3, N'Batch: 2', 1900, CAST(3.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), N'ABCD', CAST(N'2026-01-29T10:00:00.000' AS DateTime))
INSERT [dbo].[Pond_Inventory] ([InventoryId], [PondId], [SpeciesId], [BatchNumber], [Quantity], [WeightPerFish_g], [CostPerUnit_PKR], [Supplier], [StockingDate]) VALUES (4, 38, 2, NULL, 1000, NULL, NULL, N'Indus Hatchery', NULL)
SET IDENTITY_INSERT [dbo].[Pond_Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Ponds] ON 

INSERT [dbo].[Ponds] ([PondId], [UserId], [RegionId], [PondName], [CreatedAt], [CultureType], [PondType], [Size], [Stage], [FarmId], [CultivationType], [LengthFeet], [WidthFeet], [DepthFeet], [VolumeLiters]) VALUES (3, 4, 1, N'Pond A', CAST(N'2026-01-24T15:19:31.120' AS DateTime), NULL, N'Earthen Pond', 2, N'Nursery', 18, N'Extensive', NULL, NULL, NULL, NULL)
INSERT [dbo].[Ponds] ([PondId], [UserId], [RegionId], [PondName], [CreatedAt], [CultureType], [PondType], [Size], [Stage], [FarmId], [CultivationType], [LengthFeet], [WidthFeet], [DepthFeet], [VolumeLiters]) VALUES (4, 4, 1, N'Pond  B', CAST(N'2026-01-24T15:21:16.953' AS DateTime), NULL, N'Earthen Pond', NULL, N'Nursery', 18, N'Intensive', NULL, NULL, NULL, NULL)
INSERT [dbo].[Ponds] ([PondId], [UserId], [RegionId], [PondName], [CreatedAt], [CultureType], [PondType], [Size], [Stage], [FarmId], [CultivationType], [LengthFeet], [WidthFeet], [DepthFeet], [VolumeLiters]) VALUES (5, 1, 1, N'Console Test Pond', CAST(N'2026-01-24T16:01:50.430' AS DateTime), NULL, N'Earthen Pond', NULL, N'Nursery', 18, N'Semi-Intensive', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Ponds] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([RegionId], [RegionName], [Province], [ClimateType], [ClimateConditions], [WaterAvailability], [PeakFarmingSeason], [RecommendedPondSize], [CommonChallenges], [ExpertTips]) VALUES (1, N'Northern Punjab (Islamabad, Rawalpindi, Gujranwala)', N'Punjab', N'Subtropical', N'Hot summers, mild winters', N'Canal irrigation, tube wells', N'March to October', N'1-3 acres', N'High summer temperatures, water shortage in some areas', N'Use aerators during summer, maintain water level, polyculture recommended')
INSERT [dbo].[Regions] ([RegionId], [RegionName], [Province], [ClimateType], [ClimateConditions], [WaterAvailability], [PeakFarmingSeason], [RecommendedPondSize], [CommonChallenges], [ExpertTips]) VALUES (2, N'Central Punjab (Lahore, Faisalabad, Sargodha)', N'Punjab', N'Arid/Semi-Arid', N'Hot summers, mild winters', N'Canal irrigation, tube wells', N'March to October', N'1-3 acres', N'High summer temperatures, water shortage in some areas', N'Use aerators during summer, maintain water level, polyculture recommended')
INSERT [dbo].[Regions] ([RegionId], [RegionName], [Province], [ClimateType], [ClimateConditions], [WaterAvailability], [PeakFarmingSeason], [RecommendedPondSize], [CommonChallenges], [ExpertTips]) VALUES (3, N'Southern Punjab (Multan, Bahawalpur, Rahim Yar Khan)', N'Punjab', N'Arid', N'Hot summers, mild winters', N'Canal irrigation, tube wells', N'March to October', N'1-3 acres', N'High summer temperatures, water shortage in some areas', N'Use aerators during summer, maintain water level, polyculture recommended')
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
SET IDENTITY_INSERT [dbo].[Species] ON 

SET IDENTITY_INSERT [dbo].[Species] OFF
GO
SET IDENTITY_INSERT [dbo].[SpeciesCompatibility] ON 

INSERT [dbo].[SpeciesCompatibility] ([CompatibilityId], [SpeciesId], [CompatibleWithId], [CompatibilityReason]) VALUES (1, 1, 3, N'Rohu (Column) and Grass Carp (Surface/Vegetation) occupy different niches.')
INSERT [dbo].[SpeciesCompatibility] ([CompatibilityId], [SpeciesId], [CompatibleWithId], [CompatibilityReason]) VALUES (2, 1, 4, N'Rohu (Column) and Silver Carp (Surface) do not compete for food.')
INSERT [dbo].[SpeciesCompatibility] ([CompatibilityId], [SpeciesId], [CompatibleWithId], [CompatibilityReason]) VALUES (3, 1, 6, N'Classic combination: Rohu (Column) and Mrigal (Bottom).')
SET IDENTITY_INSERT [dbo].[SpeciesCompatibility] OFF
GO
SET IDENTITY_INSERT [dbo].[Stocking] ON 

INSERT [dbo].[Stocking] ([StockId], [SpeciesId], [Quantity], [PricePerPiece], [CurrentSizeInches], [TargetSizeInches], [StockingDate], [Status], [OriginalPondId], [CurrentPondId], [UserId], [LastSizeUpdateDate]) VALUES (67, 1, 10000, CAST(2.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(4, 2)), CAST(20.00 AS Decimal(4, 2)), CAST(N'2026-02-10T19:25:36.363' AS DateTime), N'Nursery', 60, 60, 26, NULL)
INSERT [dbo].[Stocking] ([StockId], [SpeciesId], [Quantity], [PricePerPiece], [CurrentSizeInches], [TargetSizeInches], [StockingDate], [Status], [OriginalPondId], [CurrentPondId], [UserId], [LastSizeUpdateDate]) VALUES (68, 1, 1222, CAST(2.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(4, 2)), CAST(22.00 AS Decimal(4, 2)), CAST(N'2026-02-10T20:31:03.553' AS DateTime), N'Nursery', 60, 60, 26, NULL)
INSERT [dbo].[Stocking] ([StockId], [SpeciesId], [Quantity], [PricePerPiece], [CurrentSizeInches], [TargetSizeInches], [StockingDate], [Status], [OriginalPondId], [CurrentPondId], [UserId], [LastSizeUpdateDate]) VALUES (69, 4, 88, CAST(8.00 AS Decimal(10, 2)), CAST(8.00 AS Decimal(4, 2)), CAST(9.00 AS Decimal(4, 2)), CAST(N'2026-02-10T20:33:05.943' AS DateTime), N'Nursery', 60, 60, 26, NULL)
SET IDENTITY_INSERT [dbo].[Stocking] OFF
GO
SET IDENTITY_INSERT [dbo].[StockingRules] ON 

INSERT [dbo].[StockingRules] ([RuleId], [Stage], [CultivationType], [MinFishPerAcre], [MaxFishPerAcre], [MaxSpeciesAllowed], [CultureType]) VALUES (1, N'Grown-out', N'Extensive', 800, 2000, 3, N'Polyculture')
INSERT [dbo].[StockingRules] ([RuleId], [Stage], [CultivationType], [MinFishPerAcre], [MaxFishPerAcre], [MaxSpeciesAllowed], [CultureType]) VALUES (2, N'Grown-out', N'Semi-Intensive', 3500, 6500, 3, N'Polyculture')
INSERT [dbo].[StockingRules] ([RuleId], [Stage], [CultivationType], [MinFishPerAcre], [MaxFishPerAcre], [MaxSpeciesAllowed], [CultureType]) VALUES (3, N'Grown-out', N'Intensive', 7500, 10000, 3, N'Polyculture')
SET IDENTITY_INSERT [dbo].[StockingRules] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [FarmName], [Province], [District], [CreatedAt], [Role]) VALUES (1, N'ABC', N'abcd@gmail.com', N'$2b$10$eKh4P/WHebVl4yxGWEu6y.NCg0FYMSfb.IGQoecia8jvmNqh02hMi', N'Indus Valley Fish', N'Sindh', N'Thatta', CAST(N'2026-02-05T20:06:19.273' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [FarmName], [Province], [District], [CreatedAt], [Role]) VALUES (2, N'Test User', N'test@test.com', N'scrambled_stuff', N'Farm', N'Punjab', N'Lahore', CAST(N'2026-01-24T00:58:03.820' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [FarmName], [Province], [District], [CreatedAt], [Role]) VALUES (3, N'ABCD', N'tester@farm.com', N'$2b$10$vzPIOd5l16pbGQTrEzpcz.ukKTRQVa0M/x5Ril7xQTGyP6uEUVeGa', N'jensFarm', N'Punjab', N'Rawalpindi', CAST(N'2026-01-24T01:05:10.747' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[water_quality_logs] ON 

INSERT [dbo].[water_quality_logs] ([log_id], [PondId], [recorded_at], [current_temp], [current_ph], [current_do], [current_ammonia], [current_nitrate], [current_nitrite]) VALUES (2, 3, CAST(N'2026-01-27T14:40:21.230' AS DateTime), CAST(28.50 AS Decimal(5, 2)), CAST(7.40 AS Decimal(4, 2)), CAST(6.20 AS Decimal(5, 2)), CAST(0.02 AS Decimal(5, 2)), CAST(15.00 AS Decimal(5, 2)), CAST(0.01 AS Decimal(5, 2)))
INSERT [dbo].[water_quality_logs] ([log_id], [PondId], [recorded_at], [current_temp], [current_ph], [current_do], [current_ammonia], [current_nitrate], [current_nitrite]) VALUES (3, 51, CAST(N'2026-02-08T19:03:06.197' AS DateTime), CAST(15.50 AS Decimal(5, 2)), CAST(0.20 AS Decimal(4, 2)), CAST(0.10 AS Decimal(5, 2)), CAST(0.02 AS Decimal(5, 2)), NULL, NULL)
INSERT [dbo].[water_quality_logs] ([log_id], [PondId], [recorded_at], [current_temp], [current_ph], [current_do], [current_ammonia], [current_nitrate], [current_nitrite]) VALUES (4, 51, CAST(N'2026-02-11T05:41:48.843' AS DateTime), CAST(30.00 AS Decimal(5, 2)), CAST(8.00 AS Decimal(4, 2)), CAST(6.00 AS Decimal(5, 2)), CAST(0.05 AS Decimal(5, 2)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[water_quality_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[water_quality_parameters] ON 

SET IDENTITY_INSERT [dbo].[water_quality_parameters] OFF
GO
/****** Object:  Index [UQ__Farm__1788CC4DBC4C4554]    Script Date: 04/03/2026 7:11:56 am ******/
ALTER TABLE [dbo].[Farm] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534639B8CAA]    Script Date: 04/03/2026 7:11:56 am ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E69F257D]    Script Date: 04/03/2026 7:11:56 am ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Species_Region]    Script Date: 04/03/2026 7:11:56 am ******/
ALTER TABLE [dbo].[water_quality_parameters] ADD  CONSTRAINT [UQ_Species_Region] UNIQUE NONCLUSTERED 
(
	[SpeciesId] ASC,
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Expense_log] ADD  DEFAULT (getdate()) FOR [ExpenseDate]
GO
ALTER TABLE [dbo].[Farm] ADD  DEFAULT (getdate()) FOR [SetupDate]
GO
ALTER TABLE [dbo].[Feed_Logs] ADD  DEFAULT (getdate()) FOR [FeedDate]
GO
ALTER TABLE [dbo].[Feed_Stock] ADD  DEFAULT (getdate()) FOR [PurchaseDate]
GO
ALTER TABLE [dbo].[Fertilizer_Stock] ADD  DEFAULT (getdate()) FOR [PurchaseDate]
GO
ALTER TABLE [dbo].[Fertilizers_Logs] ADD  DEFAULT (getdate()) FOR [ApplicationDate]
GO
ALTER TABLE [dbo].[Harvest_Logs] ADD  DEFAULT (getdate()) FOR [HarvestDate]
GO
ALTER TABLE [dbo].[KnowledgeGuides] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[KnowledgeSections] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Marketplace_Listings] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Marketplace_Listings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Mortality_Logs] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Pond_Inventory] ADD  DEFAULT (getdate()) FOR [StockingDate]
GO
ALTER TABLE [dbo].[Ponds] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Ponds] ADD  DEFAULT ('Semi-Intensive') FOR [CultivationType]
GO
ALTER TABLE [dbo].[Species] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Stocking] ADD  DEFAULT (getdate()) FOR [StockingDate]
GO
ALTER TABLE [dbo].[Stocking] ADD  DEFAULT ('Nursery') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [Role]
GO
ALTER TABLE [dbo].[water_quality_logs] ADD  DEFAULT (getdate()) FOR [recorded_at]
GO
ALTER TABLE [dbo].[Expense_log]  WITH CHECK ADD  CONSTRAINT [FK_Expense_Pond] FOREIGN KEY([PondId])
REFERENCES [dbo].[Ponds] ([PondId])
GO
ALTER TABLE [dbo].[Expense_log] CHECK CONSTRAINT [FK_Expense_Pond]
GO
ALTER TABLE [dbo].[Farm]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Farm]  WITH CHECK ADD  CONSTRAINT [FK_Farm_Regions] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([RegionId])
GO
ALTER TABLE [dbo].[Farm] CHECK CONSTRAINT [FK_Farm_Regions]
GO
ALTER TABLE [dbo].[Feed_Logs]  WITH CHECK ADD  CONSTRAINT [FK_FeedLog_Pond] FOREIGN KEY([PondId])
REFERENCES [dbo].[Ponds] ([PondId])
GO
ALTER TABLE [dbo].[Feed_Logs] CHECK CONSTRAINT [FK_FeedLog_Pond]
GO
ALTER TABLE [dbo].[Feed_Logs]  WITH CHECK ADD  CONSTRAINT [FK_FeedLog_Species] FOREIGN KEY([SpeciesID])
REFERENCES [dbo].[Species] ([SpeciesId])
GO
ALTER TABLE [dbo].[Feed_Logs] CHECK CONSTRAINT [FK_FeedLog_Species]
GO
ALTER TABLE [dbo].[Feed_Stock]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Fertilizer_Stock]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Fertilizers_Logs]  WITH CHECK ADD  CONSTRAINT [FK_FertLog_Ponds] FOREIGN KEY([PondId])
REFERENCES [dbo].[Ponds] ([PondId])
GO
ALTER TABLE [dbo].[Fertilizers_Logs] CHECK CONSTRAINT [FK_FertLog_Ponds]
GO
ALTER TABLE [dbo].[KnowledgeSections]  WITH CHECK ADD  CONSTRAINT [FK_KnowledgeSections_KnowledgeGuides] FOREIGN KEY([GuideId])
REFERENCES [dbo].[KnowledgeGuides] ([GuideId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KnowledgeSections] CHECK CONSTRAINT [FK_KnowledgeSections_KnowledgeGuides]
GO
ALTER TABLE [dbo].[Marketplace_Listings]  WITH CHECK ADD FOREIGN KEY([FarmId])
REFERENCES [dbo].[Farm] ([FarmId])
GO
ALTER TABLE [dbo].[Marketplace_Listings]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Mortality_Logs]  WITH CHECK ADD  CONSTRAINT [FK_Mortality_Pond] FOREIGN KEY([PondId])
REFERENCES [dbo].[Ponds] ([PondId])
GO
ALTER TABLE [dbo].[Mortality_Logs] CHECK CONSTRAINT [FK_Mortality_Pond]
GO
ALTER TABLE [dbo].[Mortality_Logs]  WITH CHECK ADD  CONSTRAINT [FK_Mortality_Species] FOREIGN KEY([SpeciesId])
REFERENCES [dbo].[Species] ([SpeciesId])
GO
ALTER TABLE [dbo].[Mortality_Logs] CHECK CONSTRAINT [FK_Mortality_Species]
GO
ALTER TABLE [dbo].[Pond_Inventory]  WITH CHECK ADD FOREIGN KEY([PondId])
REFERENCES [dbo].[Ponds] ([PondId])
GO
ALTER TABLE [dbo].[Pond_Inventory]  WITH CHECK ADD FOREIGN KEY([SpeciesId])
REFERENCES [dbo].[Species] ([SpeciesId])
GO
ALTER TABLE [dbo].[Ponds]  WITH CHECK ADD  CONSTRAINT [FK_PondRegion] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([RegionId])
GO
ALTER TABLE [dbo].[Ponds] CHECK CONSTRAINT [FK_PondRegion]
GO
ALTER TABLE [dbo].[Ponds]  WITH CHECK ADD  CONSTRAINT [FK_Ponds_Farm] FOREIGN KEY([FarmId])
REFERENCES [dbo].[Farm] ([FarmId])
GO
ALTER TABLE [dbo].[Ponds] CHECK CONSTRAINT [FK_Ponds_Farm]
GO
ALTER TABLE [dbo].[Ponds]  WITH CHECK ADD  CONSTRAINT [FK_PondUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Ponds] CHECK CONSTRAINT [FK_PondUser]
GO
ALTER TABLE [dbo].[SpeciesCompatibility]  WITH CHECK ADD FOREIGN KEY([CompatibleWithId])
REFERENCES [dbo].[Species] ([SpeciesId])
GO
ALTER TABLE [dbo].[SpeciesCompatibility]  WITH CHECK ADD FOREIGN KEY([SpeciesId])
REFERENCES [dbo].[Species] ([SpeciesId])
GO
ALTER TABLE [dbo].[Stocking]  WITH CHECK ADD  CONSTRAINT [FK_CurrentPond] FOREIGN KEY([CurrentPondId])
REFERENCES [dbo].[Ponds] ([PondId])
GO
ALTER TABLE [dbo].[Stocking] CHECK CONSTRAINT [FK_CurrentPond]
GO
ALTER TABLE [dbo].[Stocking]  WITH CHECK ADD  CONSTRAINT [FK_OriginalPond] FOREIGN KEY([OriginalPondId])
REFERENCES [dbo].[Ponds] ([PondId])
GO
ALTER TABLE [dbo].[Stocking] CHECK CONSTRAINT [FK_OriginalPond]
GO
ALTER TABLE [dbo].[Stocking]  WITH CHECK ADD  CONSTRAINT [FK_Stocking_Species] FOREIGN KEY([SpeciesId])
REFERENCES [dbo].[Species] ([SpeciesId])
GO
ALTER TABLE [dbo].[Stocking] CHECK CONSTRAINT [FK_Stocking_Species]
GO
ALTER TABLE [dbo].[Stocking]  WITH CHECK ADD  CONSTRAINT [FK_Stocking_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Stocking] CHECK CONSTRAINT [FK_Stocking_Users]
GO
ALTER TABLE [dbo].[water_quality_logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Ponds] FOREIGN KEY([PondId])
REFERENCES [dbo].[Ponds] ([PondId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[water_quality_logs] CHECK CONSTRAINT [FK_Logs_Ponds]
GO
ALTER TABLE [dbo].[water_quality_parameters]  WITH CHECK ADD  CONSTRAINT [FK_WQP_Regions] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([RegionId])
GO
ALTER TABLE [dbo].[water_quality_parameters] CHECK CONSTRAINT [FK_WQP_Regions]
GO
ALTER TABLE [dbo].[water_quality_parameters]  WITH CHECK ADD  CONSTRAINT [FK_WQP_Species] FOREIGN KEY([SpeciesId])
REFERENCES [dbo].[Species] ([SpeciesId])
GO
ALTER TABLE [dbo].[water_quality_parameters] CHECK CONSTRAINT [FK_WQP_Species]
GO
ALTER TABLE [dbo].[Mortality_Logs]  WITH CHECK ADD CHECK  (([Quantity_dead]>(0)))
GO

CREATE TABLE [dbo].[PurchaseRequests](
    [RequestId] [int] IDENTITY(1,1) NOT NULL,
    [ConsumerId] [int] NOT NULL,
    [FarmId] [int] NOT NULL,
    [SpeciesName] [nvarchar](100) NOT NULL,
    [RequestedQuantity] [int] NOT NULL,
    [Status] [nvarchar](20) NOT NULL DEFAULT 'Pending',
    [FarmerReply] [nvarchar](max) NULL,
    [CreatedAt] [datetime] DEFAULT GETDATE(),
    [UpdatedAt] [datetime] DEFAULT GETDATE(),
    PRIMARY KEY CLUSTERED ([RequestId] ASC)
)
GO


ALTER TABLE [dbo].[PurchaseRequests] ADD 
    [ReplyLatitude] [decimal](10, 8) NULL,
    [ReplyLongitude] [decimal](11, 8) NULL;
GO


ALTER TABLE [dbo].[Stocking] ADD [SalePricePerUnit] [decimal](10, 2) NULL;
GO

